html,
body {
	background-color: #222;
	font-family: monospace;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	height: 100%;
	width: 100%;
	overflow: hidden;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

footer {
	border-width:  1px 0;
	border-color: #333;
	border-style: solid;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	background-color: black;
	color: #BBB;
}

#marketplace {
	margin: 10px;
	float:  left;
	cursor: pointer;
}

#mint {
	margin: 8px;
	float:  right;
}

#mintbutton {
	border-color: green;
	border-radius: 4px;
	cursor: pointer;
	background-color: darkgreen;
	color: lightgreen;
}

#cjs-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
/*	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);*/
	/*background-color: #222;*/
}

#wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
}

#container {
	/*text-align: center;*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#wrapper #overlay {
	/*font-size: 4em;*/
	position: absolute;
	top: 76px;
	left: 18px;
/*	width: 100%;
	height: 100%;*/

	justify-content: left;
	align-items: left;
	text-align: left;
	/*overflow: hidden;*/
}

.hash {
	margin: none;
	font-size: 0.5em;
}

.num {
	margin: 0px;
	padding: 0px;
	font-size: 2em;
	font-style: italic;
}

.owner {
	display:  block;
	position: relative;
	left: 3px;
	cursor: pointer;
}

.collect {
	/*background-color: rgba(0, 255, 0, 0.5);*/
	background-color: darkgreen;
	border: solid;
	border-color: rgba(144, 238, 144, , 0.5);
	border-width: 2px;
	color: rgba(0, 255, 0, 0.9);
	text-align: center;
	text-decoration: none;
	/*font-style: italic;*/
	display: inline-block;
	border-radius: 4px;
	/*font-size: 2em;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	/*margin-top: 5px;*/
	cursor: pointer;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}


