html,
body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	height: 100%;
	width: 100%;
	overflow: auto;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#cjs-canvas {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	background-color: #222;
}

#wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
}

#container {
	/*text-align: center;*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#wrapper #overlay {
	/*font-size: 4em;*/
	color: #FFFFFF;
	position: absolute;
	top: 76px;
	left: 18px;
	width: 100%;
	height: 100%;

	justify-content: left;
	align-items: left;
	text-align: left;
	overflow: hidden;
}

.hash {
	margin: none;
	font-size: 0.5em;
}

.num {
	margin: 0px;
	padding: 0px;
	font-size: 2em;
}




